<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/styles-form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="encabezado">
        <h1>Registro de Cliente</h1>
    </header>
    <main class="contenido-principal">
        <h1>Formulario de Datos</h1>
        <form>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input id="dni" type="number" required placeholder="Ingrese el DNI en número" name="dni">
            </div>
            <div class="form-group">
                <label for="nombres">Nombres:</label>
                <input id="nombres" type="text" required placeholder="Ingrese sus nombres" name="nombres">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos:</label>
                <input id="apellidos" type="text" required placeholder="Ingrese sus apellidos" name="apellidos">
            </div>
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input id="fechaNacimiento" type="date" required name="fechaNacimiento">
            </div>
            <div class="form-group">
                <label>Género:</label>
                <div>
                    <label for="generoM"><input id="generoM" type="radio" value="Masculino" name="genero"> Masculino</label>
                </div>
                <div>
                    <label for="generoF"><input id="generoF" type="radio" value="Femenino" name="genero"> Femenino</label>
                </div>
                <div>
                    <label for="generoX"><input id="generoX" type="radio" value="X" name="genero"> X</label>
                </div>
            </div>
            <div class="form-group">
                <label for="correoElectronico">Correo Electrónico:</label>
                <input id="correoElectronico" type="email" required placeholder="Ingrese su email" name="correoElectronico">
            </div>
            <div class="form-group">
                <label for="domicilio">Domicilio:</label>
                <input id="domicilio" type="text" required placeholder="Ingrese su domicilio" name="domicilio">
            </div>
            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <select id="provincia" name="provincia" required>
                    <option value="Jujuy">Jujuy</option>
                    <option value="Salta" selected>Salta</option>
                    <option value="Tucuman">Tucumán</option>
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Cordoba">Córdoba</option>
                </select>
            </div>
            <div class="form-group">
                <label for="celular">Teléfono celular:</label>
                <input id="celular" type="number" required placeholder="Ingrese el número de celular" name="celular">
            </div>
            <div class="form-group">
                <label>Categorías de interés:</label>
                <div>
                    <label for="interesesF"><input id="interesesF" type="checkbox" name="intereses" value="Futbol"> Fútbol</label>
                </div>
                <div>
                    <label for="interesesT"><input id="interesesT" type="checkbox" name="intereses" value="Turismo"> Turismo</label>
                </div>
                <div>
                    <label for="interesesG"><input id="interesesG" type="checkbox" name="intereses" value="Gastronomia"> Gastronomía</label>
                </div>
            </div>
            <div class="form-group">
                <label for="sugerencia">Sugerencias:</label>
                <textarea id="sugerencia" placeholder="Ingrese Comentarios" name="sugerencia" rows="8" cols="40"></textarea>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" type="password" required placeholder="Ingrese el password" name="password" maxlength="10">
            </div>
            <div class="form-group">
                <label for="passwordDeNuevo">Password Nuevamente:</label>
                <input id="passwordDeNuevo" type="password" required placeholder="Ingrese el password de nuevo" name="passwordDeNuevo" maxlength="10">
            </div>
            <div class="form-group">
                <label for="t&c"><input id="t&c" type="checkbox" required name="t&c"> Acepto los términos y condiciones</label>
            </div>
            <div class="form-group">
                <label for="informacionRelativa"><input id="informacionRelativa" type="checkbox" name="informacionRelativa"> Acepto recibir información relativa a la empresa</label>
            </div>
            <div class="form-group">
                <input type="button" value="Cancelar">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </main>
    <footer id="pie-de-pagina">
        <p>Información de contacto y Redes sociales</p>
        <p>Correo oficial: virtual@unju.edu.ar</p>
        <p>Facebook: <a href="https://www.facebook.com/unjuvirtual/" target="_blank">Unju virtual</a></p>
        <p>Página Escuela de Minas: <a href="https://escmi.unju.edu.ar" target="_blank">EDM</a></p>
    </footer>
</body>
</html>
