<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Trbajo Practico 3</title>
		<link rel="stylesheet" href="/src/main/resources/static/styles.css">
	</head>
	<body>
		<header>
			<h1>Programacion Visual</h1>
			<nav>
			<ol>
			<li><a href="">Inicio semana 6</a></li>
			<li><a href="">Paginas web</a></li>
			<li><a href="">Arquitectura de las paginas web</a></li>
			<li><a href="">Recursos</a></li>
			</ol>
		</nav>	
		</header>
		<div class="container">
		<main class="main">
		<section id="Inicio semana 6">
		<h2>Objetivos de la semana6</h2>
				<h3>En esta seccion se describira un poco de lo que se vio en la sexta semana y archivos con informacion del tema</h3>
				<p>Conceptualizar la arquitectura de aplicaciones web en el contexto de las tecnologías usadas en la asignatura
Conceptualizar que es un framework, que es spring framework
Conceptualizar spring boot y contrastar sus aplicaciones con la configuración manual de spring framework
Realizar una introducción al uso de la capa controller
Realizar una introducción a HTML.</p>
<ul>
					<li>Aplicaciones Web</li>
					<li>Arquitectura de las aplicaciones web</li>
					<li>Framework-Spring Framework</li>
				</ul>
		</section>
		<section id="Paginas web">
		<h2>Aplicaciones web</h2>
				<p>Es un software informatico alojado en un servidor web que permite generar de manera dinamica recursos hipermedia ante las solicitudes HTTP que realiza un cliente web.Los componentes basicos del modelo Cliente-Servidor</p>
				<ol>
					<li>Servidor web</li>
					<li>Protocolo HTTP</li>
					<li>Protocolo de comunicaciones</li>					
				</ol>
				<table>
				<tr>
				<td><h3>Servidor web</h3></td>
				<td>Software que aloja aplicaciones web. Escucha las solicitudes del cliente y genera las respuestas. Gestiona la seguridad,concurrencia,gestion del ciclo de vida de la aplicacion y
				 ofrece una APIpara realizar diversas transacciones tales como mensajeria,etc.</td>
				</tr>
				<tr>
				<td><h3>Protocolo HTTP</h3></td>
				<td>Protocolo de comunicaciones que define la manera en que se transfiere informacion en la WWW (Word Wide Web)</td>
				</tr>
				<tr>
				<td><h3>Protocolo de comunicaciones</h3></td>
				<td>Sistema de reglas que permiten la comunicacion entre dos o mas entidades para transmitir informacion. Las reglas definen la sintaxis, semantica, sincronizacion de la comunicacion
				 y los mecanismos de recuperacion ante errores</td>
				</tr>
				</table>
		</section>
		<section id="Arquitectura de las paginas web">
		<h2>En esta seccion se describirá un poco del tema arquitectura de las aplicaciones web</h2>
		<p>El termino arquitectura de aplicaciones web hace referencia a tres cuestiones:</p>
		<ol>
					<li>El modelo de funcionamiento de la aplicacion web</li>
					<li>La separacion de la aplicacion en secciones con tareas y/o objetivos comunes.</li>
					<li>Las tecnologias para implementar el modelo de la aplicacion web y la forma de integrarlas.</li>					
				</ol>
		</section>
		</main>
		<aside id="Recursos">
    <h2>Recursos Adicionales</h2>
    <a href="https://virtual.unju.edu.ar" target="_blank"> <img alt="Error Cargando Imagen" src="/images/UnjuVirtual.bmp"></a>
	</aside>
		
	
		</div>
		<footer>
		<p>Informacion de contacto y Redes sociales</p>
		<p>Correo oficial: virtual@unju.edu.ar</p>
		<p>Facebook: <a href="https://www.facebook.com/unjuvirtual/" target="_blank">Unju virtual</a></p>
		<p>Pagina Escuela de Minas: <a href="https://escmi.unju.edu.ar" target="_blank">EDM</a></p>
		</footer>
	</body>
</html>